*.csproj
*.pidb
*.sln
.DS_Store
Library/*
Publish/*
Temp/*
Screenshots/*
obj/*
UnityPackageManager/*
Video/*
*.userprefs
*.unityproj
*.sublime-project
*.sublime-workspace
Logs
.vs/StoneSoup/v15/Server/sqlite3/db.lock
.vs/StoneSoup/v15/Server/sqlite3/storage.ide
.vs/StoneSoup/v15/Server/sqlite3/storage.ide-shm
.vs/StoneSoup/v15/Server/sqlite3/storage.ide-wal
.vs/StoneSoup/v15/.suo
StoneSoup.sln
StoneSoup.sln
StoneSoup.sln
.vs/StoneSoup/v16/.suo
.vs/StoneSoup/FileContentIndex/675e4f2e-cac3-4642-b853-6f989dbc290a.vsidx
.vs/StoneSoup/FileContentIndex/706e5528-539b-454e-9d0d-49d7d9f865df.vsidx
.vs/StoneSoup/FileContentIndex/8edb9424-312b-4db3-8183-29594afaa9d5.vsidx
.vs/StoneSoup/FileContentIndex/9366e21f-6b95-4446-9ad9-8d4df1f541c4.vsidx
.vs/StoneSoup/FileContentIndex/ca0892d6-61fc-4aed-9a68-9e68a21e0984.vsidx
